
<hr>
<h3>Cost Filter</h3>
<div class="form-check">
    <label for="4star">
        <input type="radio" class="form-check-input" id="4star" value="100-300"
        [(ngModel)]="costVal" 
        (change)="onCostSelect()"> 100-300 
    </label>
    
</div>
<div class="form-check">
    <label for="4star">
        <input type="radio" class="form-check-input" id="4star" value="301-800"
         [(ngModel)]="costVal" 
        (change)="onCostSelect()"> 301-800
    </label>
   
</div>
<div class="form-check">
    <label for="4star">
        <input type="radio" class="form-check-input" id="4star" value="801-1000"
         [(ngModel)]="costVal" 
        (change)="onCostSelect()"> 801-1000
    </label>
   
</div>
<div class="form-check">
    <label for="4star">
        <input type="radio" class="form-check-input" id="4star" value="1001-3000"
        [(ngModel)]="costVal" 
        (change)="onCostSelect()"> 1001-3000
    </label>
    
</div>
<div class="form-check">
    <label for="4star">
        <input type="radio" class="form-check-input" id="4star" value="3001-10000"
        [(ngModel)]="costVal" 
        (change)="onCostSelect()"> 3001-10000
    </label>
<hr>