<div class="deal">
    <h1>Deals of the Day</h1>
    <hr/>
        <owl-carousel-o [options]="customOptions" >
            <ng-template carouselSlide style="width:200px" *ngFor="let data of cloths">
                <div class="card" id="first">
                    <img [src]="data.image" alt="clothes"/>
                    <div>
                        <p>{{data.description}}</p>
                        <span>Min {{data.discount}}% Off</span>
                    </div>
                </div>
            </ng-template>     
        </owl-carousel-o>
</div>