body{
    margin: auto;
}
/* Header */
header{
    height:55px;
    background-color: #2874f0;
    display: flex;
}

#logo{
    width:90px;
    margin-left:10%;
    margin-top: 0.5%;
   
 
}
#logo  img{
    width:100%;
}
#logo a{
    text-decoration:none;
    color:white
}
#plus{
    margin-left:38%;
}
#plus img{
    height:20px;
    width:20px;
}
#search-box{
   width:45%;
   margin-left:7%;
}
#search-box input{
    width:90%;
    margin-top: 1%;
    height:35px;
}
#search-box button{
    display: inline-block;
    position: absolute; 
    height:4%;
    color: rgb(40, 116, 241);
    border: none;
    margin-top: 7.5px;
    margin-left: -1;
    background-color:white;
} 
#login{
    width:25%;
    margin-left:6%;
    margin-top: 0.5%;
}

#login button{
    background-color:white;
    border: none;
    height: 65%;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(40, 116, 241);

}

/* top-strip */
#top-strip{
    display: inline-block;
    width:100%;
}
.strip-icons{
    float: left
}

#strip-container{
    margin-left:8%
}
.strip-icons  img{
    height: 65px;
    width: 100%;
    margin-top: -20%;
}

/* Slider */
#slider{

}
#slider > img{
    width:100%;
}
/* deal */
.deal{
    height:400px;
    width:98%;
    margin:1%;
    box-shadow: 6px 9px 10px gray;
}
.dealItem{
    height:300px;
    width:220px;
    background-color:hotpink;
    margin-left:4%;
    float: left;
}
.item{
    height:250px;
    width:200px;
    padding:10px;
    text-align:center;
}
.item > img {
    height:170px;
}
.mobileImg{
    height:150px;
    margin-left: 25%;
    width:100px !important;
}
.item span{
    color: green
}
/* mdeal */
#mdeal{
    height:350px;
    border:2px solid rgb(241, 42, 52);
}
/* Footer */
footer{
    height:400px;
    background-color:#172337;
    width:100%;
    text-align: center;
    color:white
}
#mainFoot{
    margin-left: 50px;
    width:100%;
    display: inline-block;
}
.footCol{
    height:300px;
    width: 17%;
    float: left;
    margin:1%
}
.footCol h5{
    color:gray
}

.footCol a{
    display:block;
    line-height: 1.5;
}